<a href="https://colab.research.google.com/github/AshmithaMB/input-output-/blob/main/Input_Output.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a code to get the input in the given format and print the output in the given format

Input Description:
To take an integer value

Output Description:
Print the integer value

Sample Input :
2
Sample Output :
2

In [ ]:
n = int(input())
print(n)

2
2

Write a code to get the input in the given format and print the output in the given format

Input Description:
A single line contains integers separated by space

Output Description:
Print the integer list of integers separated by space

Sample Input :
2 3 4 5 6 7 8
Sample Output :
2 3 4 5 6 7 8

In [ ]:
user_input = list(map(int,input('Enter an input : ').split(' ')))
print(*user_input)

1 2 3 4 5
1 2 3 4 5

Write a code to get the input in the given format and print the output in the given format.

Input Description:
First-line indicates two integers which are the size of array and 'K' value. Second-line indicates an integer contains elements of an array.

Output Description:
Print the taken input in the same format.

Sample Input :
5 3
1 2 3 4 5
Sample Output :
5 3
1 2 3 4 5

In [ ]:
userinput = list(map(int, input('Enter 2 integers ; ').split(' ', 1)))
array = list(map(int, input('Enter an array ; ').split()))
print(*userinput)
print(*array)

Enter 2 integers ; 1 2 3
Enter an array ; 1 2 3 4 5
1 2 3
1 2 3 4 5

Write a code to get the input in the given format and print the output in the given format

Input Description:
First-line indicates two integers separated by space. Second-line indicates two integers separated by space. Third-line indicates two integers separated by space.

Output Description:
Print the input in the same format.

Sample Input :
2 4
2 4
2 4
Sample Output :
2 4
2 4
2 4

In [ ]:
userinput1 =[int(num) for num in input().split(" ", 1)]
userinput2 =[int(num) for num in input().split(" ", 1)]
userinput3 =[int(num) for num in input().split(" ", 1)]
print(*userinput1)
print(*userinput2)
print(*userinput3)

Write a code to get the input in the given format and print the output in the given format

Input Description:
Three integers are given in line by line.

Output Description:
Print the integers in a single line separate by space.

Sample Input :
2
4
5
Sample Output :
2 4 5

In [ ]:
a = int(input())
b = int(input())
c = int(input())
print(a ,b ,c)

Write a code to get the input in the given format and print the output in the given format

Input Description:
First-line indicates two integers separated by space. Second-line indicates three integers separated by space. Third-line indicates three integers separated by space

Output Description:
Print the input in the same format.

Sample Input :
2 5
2 5 6
2 4 5
Sample Output :
2 5
2 5 6
2 4 5

In [1]:
a = map(int,input().split())
b = map(int,input().split())
c = map(int,input().split())
print(*a)
print(*b)
print(*c)

2 5
2 5 6
2 4 5
2 5
2 5 6
2 4 5

Write a code to get the input in the given format and print the output in the given format

Input Description:
A single line contains a string.

Output Description:
Print the characters in a string separated by space.

Sample Input :
guvi
Sample Output :
g u v i

In [5]:
user = input()
b = ' '.join(user)
print(b)

ashmitha
a s h m i t h a

You are given an array. Your task is to sort the array in given manner. Print the elements in increasing order of the frequency. If frequency is same print smaller one first.

Input Description:
You are given a number ‘n’. Then in next line n space separated numbers.

Output Description:
Print the array as mentioned

Sample Input :
4
1 1 3 2
Sample Output :
2 3 1

In [ ]:
from collections import Counter
h = int(input())
l = list(map(int,input().split()))
l.sort(reverse = True)

4
1 1 3 2

Write a code to get the input in the given format and print the output in the given format.

Input Description:
A single line contains three float values separated by space.

Output Description:
Print the float value separated by line.

Sample Input :
2.3 4.5 7.8
Sample Output :
2.3
4.5
7.8

In [6]:
a = map(float,input().split())
for i in a:
    print(i)

2.3
2.3

Write a code to get the input in the given format and print the output in the given format.
Input Description: A single line contains a string.

Output Description: Print the characters in a string separated by line.

Sample Input : guvigeek Sample Output : g u v i g e e k

In [ ]:
inp = input()
for i in inp:
  print(i)

Write a code to get the input in the given format and print the output in the given format.
Input Description: A single line contains a string.

Output Description: Print the characters in a string separated by comma.

Sample Input : guvi Sample Output : g,u,v,i

In [ ]:
inp = input()
print(','.join(inp))

You are given a number A in Kilometers. Convert this into B: Meters and C: Centi-Metres.

Input Description:
A number "A" representing some distance in kilometer is provided to you as the input.

Output Description:
Convert and print this value in meters and centimeters.

Sample Input :
2
Sample Output :
2000
200000

In [ ]:
akm = int(input('Enter kms: '))
inp = akm*1000
mip = akm*100000
print(inp, mip, sep ='\n')

You are given three numbers A, B & C. Print the largest amongst these three numbers.

Input Description:
Three numbers are provided to you.

Output Description:
Find and print the largest among the three

Sample Input :
1
2
3
Sample Output :
3

In [ ]:
a,b,c = [int(i) for i in input().split()]
max(a,b,c)

You are provided with the radius of a circle "A". Find the length of its circumference.

Note: In case the output is coming in decimal, roundoff to 2nd decimal place. In case the input is a negative number, print "Error".

Input Description:
The Radius of a circle is provided as the input of the program.

Output Description:
Calculate and print the Circumference of the circle corresponding to the input radius up to two decimal places.

Sample Input :
2
Sample Output :
12.57

In [ ]:
radius = int(input('Enter the radius: '))
circum = 2*22/7*radius
if radius <0: print('Error')
else: print(round(circum,2))

You are given Two Numbers, A and B. If C = A + B. Find C.
Note: Round off the output to a single decimal place.

Input Description: You are provided with two numbers A and B.

Output Description: Find the sum of the two numbers (A + B)

Sample Input : 1 1 Sample Output : 2

In [ ]:
a,b = [float(i) for i in input().split()]
print(round((a+b),1))

The area of an equilateral triangle is ¼(√3a2) where "a" represents a side of the triangle. You are provided with the side "a". Find the area of the equilateral triangle.
Input Description: The side of an equilateral triangle is provided as the input.

Output Description: Find the area of the equilateral triangle and print the answer up to 2 decimal places after rounding off.

Sample Input : 20 Sample Output : 173.21

In [ ]:
side = int(input())
area = (3**0.5)*(side*side)/4
print(round(area, 2))

You are given with a number A i.e. the temperature in Celcius. Write a program to convert this into Fahrenheit.
Note: In case of decimal values, round-off to two decimal places.

Input Description: A number is provided in Celcius as the input of the program.

Output Description: The output shall be the temperature converted into Fahrenheit corresponding to the input value print up to two decimal places and round off if required.

Sample Input : 12 Sample Output : 53.60

In [ ]:
celcius = float(input())
result = celcius*(9/5)+32
print('%.2f'%result)

You are given with Principle amount($), Interest Rate(%) and Time (years) in that order. Find Simple Interest.
Print the output up to two decimal places (Round-off if necessary).

(S.I. = PTR/100)

Input Description: Three values are given to you as the input. these values correspond to Principle amount, Interest Rate and Time in that particular order.

Output Description: Find the Simple interest and print it up to two decimal places. Round off if required.

Sample Input : 1000 2 5 Sample Output : 100.00

In [ ]:
p,i,t = [int(i) for i in input().split()]
simpleinterest = p*i*t / 100
print("%.2f" % simpleinterest)

You are given A = Length of a rectangle & B = breadth of a rectangle. Find its area “C”.
(A and B are natural numbers)

Input Description: The inputs are two natural numbers representing the length and the breadth of a rectangle.

Output Description: Find the area of the rectangle formed by the provided input. Round off the answer to the first decimal place if required.

Sample Input : 2 3 Sample Output : 6

In [ ]:
l,b = [int(i) for i in input().split()]
print(round((l*b),1))


You are given with a number "N", find its cube.
Input Description: A positive integer is provided.

Output Description: Find the cube of the number.

Sample Input : 2 Sample Output : 8

In [ ]:
b = lambda a : a**3
print(b(int(input())))

You will be provided with a number. Print the number of days in the month corresponding to that number.
Note: In case the input is February, print 28 days. If the Input is not in valid range print "Error".

Input Description: The input is in the form of a number.

Output Description: Find the days in the month corresponding to the input number. Print Error if the input is not in a valid range.

Sample Input : 8 Sample Output : 31

In [ ]:
a = int(input())

days31 = [1,3,5,7,8,10,12]
days28 = [2]
days30 = [4,6,9,11]

if a == 0 or a > 12:
    print('Error')
else:
  if a in days31: print(31)
  elif a in days28:print(28)
  else:print(30)

In [ ]:
A=int(input("enter a number of month: "))
if A==1:print(31)
elif A==2: print(28)
elif A==3:print(31)
elif A==4:print(30)
elif A==5:print(31)
elif A==6:print(30)
elif A==7:print(31)
elif A==8:print(31)
elif A==9:print(30)
elif A==10:print(31)
elif A==11:print(30)
elif A==12:print(31)
else:
   print("Error")

Let "A" be a year, write a program to check whether this year is a leap year or not.
Print "Y" if its a leap year and "N" if its a common year.

Input Description: A Year is the input in the form of a positive integer.

Output Description: Print "Y" if its a leap year and "N" if its a common year.

Sample Input : 2020 Sample Output : Y

In [ ]:
a = int(input('Enter a year to check if it is a leap year: '))
if a % 4 == 0 and a % 400 == 0: print('Y')
elif a % 4 == 0 and a % 100 != 0: print('Y')
else: print('N')

You are provided with two numbers. Find and print the smaller number.
Input Description: You are provided with two numbers as input.

Output Description: Print the small number out of the two numbers.

Sample Input : 23 1 Sample Output : 1

In [ ]:
a, b = [int(x) for x in input().split()]
print(min(a,b))

You are given the coefficients of a quadratic equation in order A, B & C.
Where A is the coefficient of X2, B is the coefficient of X and C is the constant term in the most simplified form.

Example: For X2 + 5X + 6 = 0, you are given the input as: 1 5 6.

Write a program to find all of the roots of the quadratic.

Note: The output should be up to 2nd decimal place (round off if needed) and in case of a recurring decimal use braces i.e. for eg: 0.33333..... => 0.33.

Note: Use Shri Dharacharya's Method to solve i.e. X = {-b + √(b² - 4ac) } / 2a & {-b-√(b² -4ac)} / 2a

Input Description: Three numbers corresponding to the coefficients of x(squared), x and constant are given as an input in that particular order Output Description: Print the two values of X after rounding off to 2 decimal places if required.

Sample Input : 1 5 6 Sample Output : -2.00 -3.00

In [ ]:
import math
a, b, c = map(int, input().split())
m = (-b+(math.sqrt((b**2)-(4*a*c))))/(2*a)
n = (-b-(math.sqrt((b**2)-(4*a*c))))/(2*a)
print(f'{m:.2f}')
print(f'{n:.2f}')